<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanaraja Story</title>
    <meta name="description" property="og:description" content="Wanaraja, kisah seorang Raja yang menjadi lebih baik setelah melihat sikap seekor Monyet yang berkorban untuk rakyatnya." />
    <meta name="keywords" content="Wanaraja, itb, buku anak">
    <meta name="news_keywords" content="Wanaraja, itb, buku anak">
    <meta name="geo.country" content="id" />
    <meta http-equiv="content-language" content="In-Id" />
    <meta name="geo.placename" content="Indonesia" />
    <meta name="theme-color" content="#6F5749" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <meta property="fb:app_id" content="1806379142939079" />
    <meta property="og:title" name="title" content="Wanaraja Story" />
    <meta property="og:image" content="assets/img/cover.jpg" />
    <meta property="og:site_name" content="Wanaraja Story" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://wanaraja-story.netlify.app/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@arindjo" />
    <meta name="twitter:description" content="Wanaraja, kisah seorang Raja yang menjadi lebih baik setelah melihat sikap seekor Monyet yang berkorban untuk rakyatnya." />
    <meta name="twitter:image" content="assets/img/cover.jpg" />
    <meta name="twitter:site" content="@arindjo" />
    <meta name="twitter:title" content="Wanaraja Story" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.4/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="container" id="app">
        <audio v-for="(item, key) in audioAssets" class="audio" :class="item.type" :src="item.src" :id="item.id" muted preload="auto"></audio>
        <div class="wrapper">
            <div class="inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__1--bg"></div>
                                <div class="left-balon scene__1--bt1" v-if="gameStep[0].step == 0" @click="gameStep[0].step++, playClickAudio(), playAudioNaration('karakter0')"></div>
                                <div class="right-balon scene__1--bt2" v-if="gameStep[0].step == 1" @click="gameStep[0].step++, playClickAudio(), playAudioNaration('karakter1')"></div>
                                <div class="right-balon scene__1--bt3" v-if="gameStep[0].step == 2" @click="gameStep[0].step++, playClickAudio(), playAudioNaration('karakter2')"></div>
                                <div class="right-balon scene__1--bt4" v-if="gameStep[0].step == 3" @click="gameStep[0].step++, playClickAudio(), playAudioNaration('karakter3'), allowSlide = true"></div>
                                <div class="panel scene__1--panel1" v-if="gameStep[0].step == 1">“Jangan sampai para manusia mengetahui buah ini. Mereka pasti akan merebutnya dari kita.”</div>
                                <div class="panel scene__1--panel2" v-if="gameStep[0].step == 2">“Jaga baik-baik agar tidak ada buah yang hanyut ke sungai.”</div>
                                <div class="panel scene__1--panel3" v-if="gameStep[0].step == 3">“Ayo kita bungkus buah ini.”</div>
                                <div class="panel scene__1--panel4" v-if="gameStep[0].step == 4">“Kita potong juga dahannya, agar tidak menjulur ke sungai.”</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__2--1 hide" :class="{ 'show': gameStep[1].step >= 0 }" ></div>
                                <div class="full scene__2--2 hide" :class="{ 'show': gameStep[1].step >= 1 }" ></div>
                                <div class="full scene__2--3 hide" :class="{ 'show': gameStep[1].step >= 2 }" ></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__3--bg"></div>
                                <div class="right-balon scene__3--bt1" v-if="gameStep[2].step == 0" @click="gameStep[2].step++, playClickAudio(), playAudioNaration('karakter5')"></div>
                                <div class="right-balon scene__3--bt2" v-if="gameStep[2].step == 1" @click="gameStep[2].step++, playClickAudio(), allowSlide = true, playAudioNaration('karakter6')"></div>
                                <div class="panel scene__3--panel1" v-if="gameStep[2].step == 1">“Terimalah persembahan kami, Raja.”</div>
                                <div class="panel scene__3--panel2" v-if="gameStep[2].step == 2">“Kalian harus mencari di mana letak pohon buah ini.”</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__4--bg"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__5--bg"></div>
                                <div class="left-balon scene__5--bt1" v-if="gameStep[4].step == 0" @click="gameStep[4].step++, playClickAudio(), playAudioNaration('karakter7')"></div>
                                <div class="right-balon scene__5--bt2" v-if="gameStep[4].step == 1" @click="gameStep[4].step++, playClickAudio(), allowSlide = true, playAudioNaration('karakter8')"></div>
                                <div class="panel scene__5--panel1" v-if="gameStep[4].step == 1">“Itu pohonnya! Usir monyet-monyet itu!”</div>
                                <div class="panel scene__5--panel2" v-if="gameStep[4].step == 2">“Hus.. hus.. pergi kalian monyet! Ini pohon raja kami.”</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__6--bg"></div>
                                <div class="right-balon scene__6--bt1" v-if="gameStep[5].step == 0" @click="gameStep[5].step++, playClickAudio(), allowSlide = true, playAudioNaration('karakter9')"></div>
                                <div class="panel scene__6--panel1" v-if="gameStep[5].step == 1">“Ayo semuanya, cepat menyeberang!”</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__7--bg"></div>
                                <div class="left-balon scene__7--bt1" v-if="gameStep[6].step == 0" @click="gameStep[6].step++, playClickAudio(), playAudioNaration('karakter10')"></div>
                                <div class="right-balon scene__7--bt2" v-if="gameStep[6].step == 1" @click="gameStep[6].step++, playClickAudio(), playAudioNaration('karakter11')"></div>
                                <div class="left-balon scene__7--bt3" v-if="gameStep[6].step == 2" @click="gameStep[6].step++, playClickAudio()"></div>
                                <div class="left-balon scene__7--bt4" v-if="gameStep[6].step == 3" @click="gameStep[6].step++, playClickAudio(), allowSlide = true"></div>
                                <div class="panel scene__7--panel1" v-if="gameStep[6].step == 1">“Mengapa kamu mengorbankan dirimu untuk mereka?”</div>
                                <div class="panel scene__7--panel2" v-if="gameStep[6].step == 2">“Aku adalah raja dan pemimpin mereka..”</div>
                                <div class="panel scene__7--panel3" v-if="gameStep[6].step == 3">“Kebahagiaan mereka adalah kebahagiaanku.”</div>
                                <div class="panel scene__7--panel4" v-if="gameStep[6].step == 4">“Aku tidak takut untuk berjuang demi mereka.”</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__8--bg"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__9--bg"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__10--bg"></div>
                                <div class="cover__button cover__button--baca-end" @click="slideTo(0)">
                                    <div class="cover__button--baca-inner-end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="naration" v-if="activeScene !== gameStep.length-1">
                        <div class="naration__inner">
                            <p>{{ gameStep[activeScene].naration }}<span v-if="gameStep[activeScene].relief" class="lihatrelief" @click="showRelief = true">Lihat Relief</span></p>
                            <div class="btnSlide btnSlide--prev" :class="{ 'allow' : allowSlide }" @click="slide(0)"></div>
                            <div class="btnSlide btnSlide--next" :class="{ 'allow' : allowSlide }" @click="slide(1)"></div>
                        </div>
                    </div>
                </div>
                <div class="navigation" :class="{ 'show': navigationIsOpen }">
                    <div class="navigation__container">
                        <div class="navigation__inner">
                            <div class="navigation__list" v-for="(obj, key) in gameStep">
                                <div class="navigation__list--img" :style="{ backgroundImage: 'url(' + obj.img + ')' }" @click="slideTo(key), navigationIsOpen = false"></div>
                                <div class="navigation__list--number">{{ obj.scene }}</div>
                            </div>
                        </div>
                        <div class="navigation__button" @click="navigationIsOpen = !navigationIsOpen">
                            <div class="navigation__button--sign" :class="navigationIsOpen ? 'up' : 'down'"></div>
                        </div>
                    </div>
                </div>
                <transition name="fade">
                    <div class="cover" v-if="!gameIsStart">
                        <div class="cover__inner">
                            <div class="cover__button cover__button--baca" @click="gameIsStart = true">
                                <div class="cover__button--baca-inner"></div>
                            </div>
                            <!-- <div class="cover__button cover__button--panduan"></div>
                            <div class="cover__button cover__button--setting"></div> -->
                        </div>
                    </div>
                </transition>
                <div class="soundSetting" :class="{ 'off' : !soundIsOn }" @click="soundIsOn = !soundIsOn">
                    <img src="assets/img/button-sound-on.png" alt="icon sound">
                </div>
                <div class="relief" v-if="showRelief">
                    <div class="relief--inner">
                        <div class="relief--wrapper" v-if="gameStep[activeScene].relief">
                            <div class="btnClose"><img src="assets/img/button-close.png" alt="close" @click="showRelief = false"></div>
                            <img class="ref" :src="gameStep[activeScene].relief.src" :alt="gameStep[activeScene].relief.text">
                            <p>{{ gameStep[activeScene].relief.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="fullscreenbutton" @click="isFullscreen = !isFullscreen">
            <img src="assets/img/button-fullscreen.png" alt="fullscreen" :class="{ 'off' : isFullscreen }">
        </div> -->
        <div id="error" v-if="orientationError">
            <div class="error__caption">
              <svg viewbox="0 0 47 80" xml:space="preserve">
                <path d="M41.1,80.1H6.2c-3.2,0-5.8-2.6-5.8-5.8V5.8c0-3.2,2.6-5.8,5.8-5.8h34.9c3.2,0,5.8,2.6,5.8,5.8v68.5        C46.8,77.5,44.2,80.1,41.1,80.1z M6.2,2.2c-2,0-3.6,1.6-3.6,3.6v68.5c0,2,1.6,3.6,3.6,3.6h34.9c2,0,3.6-1.6,3.6-3.6V5.8        c0-2-1.6-3.6-3.6-3.6H6.2z" class="st0"></path>
                <path d="M40,68.7H7.3c-0.6,0-1.1-0.5-1.1-1.1V7.2c0-0.6,0.5-1.1,1.1-1.1H40c0.6,0,1.1,0.5,1.1,1.1v60.4        C41.1,68.2,40.6,68.7,40,68.7z M8.3,66.5h30.6V8.3H8.3V66.5z" class="st0"></path>
                <path d="M23.6,76.9c-2.2,0-3.9-1.8-3.9-3.9c0-2.2,1.8-3.9,3.9-3.9s3.9,1.8,3.9,3.9C27.6,75.2,25.8,76.9,23.6,76.9z        M23.6,71.2c-1,0-1.8,0.8-1.8,1.8c0,1,0.8,1.8,1.8,1.8c1,0,1.8-0.8,1.8-1.8C25.4,72,24.6,71.2,23.6,71.2z" class="st0"></path>
              </svg><strong>Pastikan device anda dalam mode Landscape.</strong>
            </div>
        </div>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.4/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>