<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanarja Story</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.4/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    
    <div class="container" id="app">
        <div class="wrapper">
            <div class="inner">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__1--bg"></div>
                                <div class="left-balon scene__1--bt1" v-if="gameStep[0].step == 0" @click="gameStep[0].step++"></div>
                                <div class="right-balon scene__1--bt2" v-if="gameStep[0].step == 1" @click="gameStep[0].step++, allowSlide = true"></div>
                                <div class="panel scene__1--panel1" v-if="gameStep[0].step == 1">“Sungguh harum dan enak buah di pohon ini!”</div>
                                <div class="panel scene__1--panel2" v-if="gameStep[0].step == 2">“Jangan sampai ada buah yang jatuh ke sungai.”</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="scene">
                                <div class="full scene__2--1 hide" :class="{ 'show': gameStep[1].step >= 0 }" ></div>
                                <div class="full scene__2--2 hide" :class="{ 'show': gameStep[1].step >= 1 }" ></div>
                                <div class="full scene__2--3 hide" :class="{ 'show': gameStep[1].step >= 2 }" ></div>
                            </div>
                        </div>
                        <div class="swiper-slide">Slide 3</div>
                    </div>
                    <div class="naration">
                        <div class="naration__inner">
                            <p>{{ gameStep[activeScene].naration }}</p>
                            <div class="btnSlide btnSlide--prev" :class="{ 'allow' : allowSlide }" @click="slide(0)"></div>
                            <div class="btnSlide btnSlide--next" :class="{ 'allow' : allowSlide }" @click="slide(1)"></div>
                        </div>
                    </div>
                </div>
                <div class="navigation" :class="{ 'show': navigationIsOpen }">
                    <div class="navigation__container">
                        <div class="navigation__inner">
                            <div class="navigation__list" v-for="(obj, key) in gameStep">
                                <div class="navigation__list--img" :style="{ backgroundImage: 'url(' + obj.img + ')' }"></div>
                                <div class="navigation__list--number">{{ obj.scene }}</div>
                            </div>
                        </div>
                        <div class="navigation__button" @click="navigationIsOpen = !navigationIsOpen">
                            <div class="navigation__button--sign" :class="navigationIsOpen ? 'up' : 'down'"></div>
                        </div>
                    </div>
                </div>
                <transition name="fade">
                    <div class="cover" v-if="!gameIsStart">
                        <div class="cover__inner">
                            <div class="cover__button cover__button--baca" @click="gameIsStart = true"></div>
                            <div class="cover__button cover__button--panduan"></div>
                            <div class="cover__button cover__button--setting"></div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
        <div id="error" v-if="orientationError">
            <div class="error__caption">
              <svg viewbox="0 0 47 80" xml:space="preserve">
                <path d="M41.1,80.1H6.2c-3.2,0-5.8-2.6-5.8-5.8V5.8c0-3.2,2.6-5.8,5.8-5.8h34.9c3.2,0,5.8,2.6,5.8,5.8v68.5        C46.8,77.5,44.2,80.1,41.1,80.1z M6.2,2.2c-2,0-3.6,1.6-3.6,3.6v68.5c0,2,1.6,3.6,3.6,3.6h34.9c2,0,3.6-1.6,3.6-3.6V5.8        c0-2-1.6-3.6-3.6-3.6H6.2z" class="st0"></path>
                <path d="M40,68.7H7.3c-0.6,0-1.1-0.5-1.1-1.1V7.2c0-0.6,0.5-1.1,1.1-1.1H40c0.6,0,1.1,0.5,1.1,1.1v60.4        C41.1,68.2,40.6,68.7,40,68.7z M8.3,66.5h30.6V8.3H8.3V66.5z" class="st0"></path>
                <path d="M23.6,76.9c-2.2,0-3.9-1.8-3.9-3.9c0-2.2,1.8-3.9,3.9-3.9s3.9,1.8,3.9,3.9C27.6,75.2,25.8,76.9,23.6,76.9z        M23.6,71.2c-1,0-1.8,0.8-1.8,1.8c0,1,0.8,1.8,1.8,1.8c1,0,1.8-0.8,1.8-1.8C25.4,72,24.6,71.2,23.6,71.2z" class="st0"></path>
              </svg><strong>Pastikan device anda dalam mode Landscape.</strong>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.4/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>