body, html {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
p {
    margin: 0;
    font-size: 14px;
}
div {
    box-sizing: border-box;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    will-change: opacity;
}
.fade-enter, .fade-leave-to {
    opacity: 0
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #55423d;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 960px;
}
.inner {
    width: 100%;
    padding-bottom: 60%;
    background-color: #55423d;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.swiper,
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
}
.cover {
    z-index: 10;
}
.cover__inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/cover.jpg");
    background-size: cover;
    background-position: center center;
}
.cover__button {
    position: absolute;
    transform: translate(-50%,-50%) scale(1);
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: transform .4s cubic-bezier(.46,.54,.17,1),-webkit-transform .4s cubic-bezier(.46,.54,.17,1);
}
.cover__button:hover {
    transform: translate(-50%,-50%) scale(0.9);
}
.cover__button--baca {
    left: 50%;
    top: 65%;
    width: 260px;
    height: 75px;
}
.cover__button--baca-end {
    left: 50%;
    top: 69%;
    width: 220px;
    height: 70px;
}
.cover__button--baca-inner,  .cover__button--baca-inner-end{
    background-image: url("../img/button-baca.png");
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    animation: goyang 1s linear infinite;
}
.cover__button--baca-inner-end {
    background-image: url("../img/button-baca.png");
}
.fullscreenbutton {
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.fullscreenbutton img {
    width: 100%;
    background-color: white;
    border-radius: 100%;
}
.fullscreenbutton img.off {
    opacity: 0.5;
}
@keyframes goyang {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
.cover__button--panduan {
    right: 0;
    top: 8%;
    width: 60px;
    height: 60px;
    background-image: url("../img/button-panduan.png");
}
.cover__button--setting {
    right: 7%;
    top: 8%;
    width: 60px;
    height: 60px;
    background-image: url("../img/button-setting.png");
}
.scene {
    height: 100%;
    width: 100%;
    position: relative;
}
.relief {
    z-index: 5;
}
.relief, .relief--inner, .relief--inner::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.lihatrelief {
    margin-left: 10px;
    font-weight: bold;
    color: #bd8686;
}
.relief--inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.relief--inner::before {
    content: '';
    background-color: rgba(0,0,0,0.5);
}
.relief--wrapper {
    background-image: url("../img/box-relief.png");
    background-size: 100% 100%;
    text-align: center;
    position: relative;
    width: 582px;
    margin: 0 auto;
    height: 400px;
}
.relief--wrapper img.ref {
    width: 350px;
    margin: 0 auto;
    display: block;
    padding-top: 41px;
    padding-bottom: 8px;
    font-size: 16px;
}
.btnClose {
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
.btnClose img {
    width: 100%;
}
.naration {
    background-image: url("../img/box-bg.png");
    color: #000;
    height: 28%;
    font-size: 16px;
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 3;
    width: 80%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.naration p {
    font-size: 16px;
}
.naration__inner {
    width: 100%;
    height: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.full {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.panel {
    position: absolute;
    padding: 8px 16px;
    max-width: 295px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 -5px 15px 0 rgb(0 0 0 / 65%);
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 1s linear;
}
.show {
    opacity: 1;
    visibility: visible;
}
.left-balon, .right-balon {
    position: absolute;
    width: 45px;
    height: 35px;
    background-size: cover;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    animation: zoomInOut 1s linear infinite;
}
@keyframes zoomInOut {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
.left-balon {
    background-image: url("../img/left-balon.png");
}
.right-balon {
    background-image: url("../img/right-balon.png");
}

/* scene 1 */
.scene__1--bg {
    background-image: url("../img/scene-1.jpg");
    background-size: cover;
}
.scene__1--bt1 {
    top: 40%;
    left: 42%;
}
.scene__1--bt2 {
    top: 40%;
    left: 63%;
}
.scene__1--bt3 {
    top: 45%;
    left: 34%;
}
.scene__1--bt4 {
    top: 40%;
    left: 64%;
}
.scene__1--panel1 {
    top: 30%;
    left: 36%;
}
.scene__1--panel2 {
    top: 35%;
    left: 67%;
}
.scene__1--panel3 {
    top: 38%;
    left: 26%;
}
.scene__1--panel4 {
    top: 31%;
    left: 66%;
}
.scene__2--1, .scene__2--2, .scene__2--3 {
    background-size: cover;
}
.scene__2--1 {
    background-image: url("../img/scene-2-bg-1.jpg");
}
.scene__2--2 {
    background-image: url("../img/scene-2-bg-2.jpg");
}
.scene__2--3 {
    background-image: url("../img/scene-2-bg-3.jpg");
}
.scene__3--bg {
    background-image: url("../img/scene-3.jpg");
    background-size: cover;
    background-position: bottom;
}
.scene__3--bt1 {
    top: 38%;
    left: 44%;
}
.scene__3--bt2 {
    top: 32%;
    left: 78%;
}
.scene__3--panel1 {
    top: 30%;
    left: 41%;
}
.scene__3--panel2 {
    top: 19%;
    left: 67%;
}
.scene__4--bg {
    background-image: url("../img/scene-4.jpg");
    background-size: cover;
    background-position: bottom;
}
.scene__5--bg {
    background-image: url("../img/scene-5.jpg");
    background-size: cover;
    background-position: bottom;
}
.scene__5--bt1 {
    top: 48%;
    left: 35%;
}
.scene__5--bt2 {
    top: 57%;
    left: 75%;
}
.scene__5--panel1 {
    top: 38%;
    left: 36%;
}
.scene__5--panel2 {
    top: 53%;
    right: 3%;
}
.scene__6--bg {
    background-image: url("../img/scene-6.jpg");
    background-size: cover;
    background-position: bottom;
}
.scene__6--bt1 {
    top: 18%;
    left: 35%;
}
.scene__6--panel1 {
    top: 48%;
    left: 36%;
}
.scene__7--bg {
    background-image: url("../img/scene-7.jpg");
    background-size: cover;
}
.scene__7--bt1 {
    top: 30%;
    left: 38%;
}
.scene__7--bt2 {
    top: 46%;
    left: 67%;
}
.scene__7--bt3 {
    top: 48%;
    left: 53%;
}
.scene__7--bt4 {
    top: 48%;
    left: 53%;
}
.scene__7--panel1 {
    top: 24%;
    left: 30%;
}
.scene__7--panel2 {
    top: 37%;
    left: 69%;
}
.scene__7--panel3 {
    top: 37%;
    left: 69%;
}
.scene__7--panel4 {
    top: 37%;
    left: 69%;
}
.scene__8--bg,  .scene__9--bg{
    background-image: url("../img/scene-8.jpg");
    background-size: cover;
    background-position: bottom;
}  
.scene__10--bg{
    background-image: url("../img/tamat.jpg");
    background-size: cover;
    background-position: bottom;
}

.btnSlide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 46px;
    background-size: cover;
    opacity: 0.5;
    cursor: not-allowed;
}
.btnSlide.allow {
    cursor: pointer;
    opacity: 1;
}
.btnSlide--prev {
    background-image: url("../img/slideLeft.png");
    left: 24px;
}
.btnSlide--next {
    background-image: url("../img/slideRight.png");
    right: 24px;
}
.soundSetting {
    position: fixed;
    right: 12px;
    z-index: 3;
    top: 12px;
}
.soundSetting.off {
    opacity: 0.6;
}
#error{
    height: 100%;
    background: #8c5321;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#error .error__caption{
    position: absolute;
    top: 25%;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

#error strong{
    color: #ffffff;
    font-family: 'Sniglet', cursive;
    max-width: 380px;
    display: block;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
}
#error svg{
    display: block;
    margin: 30px auto;
    fill: #ffffff;
    width: 37px;
    height: 50px;
}
.navigation {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #6F5749;
    transform: translateY(-100%);
    transition: transform .4s cubic-bezier(.46,.54,.17,1),-webkit-transform .4s cubic-bezier(.46,.54,.17,1);
}
.navigation.show {
    transform: translateY(0%);
}
.navigation__container, .navigation__inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.navigation__container {
    padding: 8px;
}
.navigation__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    justify-content: start;
    align-items: center;
}
.navigation__list {
    width: 140px;
    padding-left: 20px;
    text-align: center;
    color: #fff;
}
.navigation__list--img {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    background-color: #fff;
    margin-bottom: 8px;
}
.navigation__button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 65%);
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    width: 40px;
    height: 18px;
}
.navigation__button--sign {
    position: relative;
    width: 100%;
    height: 100%;
}
.navigation__button--sign::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
.navigation__button--sign.up::after {
    border-bottom: 8px solid #6F5749;
}
.navigation__button--sign.down::after {
    border-top: 8px solid #6F5749;
}
@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
    .cover__button--panduan, .cover__button--setting {
        width: 45px;
        height: 45px;
    }
    .cover__button--setting {
        right: 9%;
    }
    .cover__button--baca {
        width: 210px;
        height: 56px;
    }
    .naration {
        font-size: 14px;
    }
    .panel {
        max-width: 150px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 1023px) {
    .relief--wrapper {
        width: 462px;
        height: 300px;
    }
    .relief--wrapper img.ref {
        width: 230px;
    }
    .wrapper {
        width: 85%;
    }
    .naration {
        width: 100%;
        bottom: 6px;
    }
    .naration p {
        font-size: 14px;
    }
    .panel {
        max-width: 240px;
        font-size: 12px;
    }
    .navigation {
        height: 33%;
    }
}